<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <center>
        <div class="main-content">
            {{>header}}
            <p>This site takes data from weatherstack.com and mapbox.com </p>
            <img class="developer" src="../img/imge.png" />
        </div>
    </center>
<footer>{{>footer}}</footer>
</body>

</html>